/**
 * Neumorphic styles by Maria Muñoz: https://codepen.io/myacode/pen/PoqQQNM
 */
:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;

  --width: 24.5rem;
  --circle-size: 15rem;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background: var(--greyLight-1);
  
  @media screen and (min-width: 900px) {
        font-size: 90%; }
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background: var(--greyLight-1);
}

.microphone, .speaker{
  grid-column: 1;
  grid-row: 2;
}

.help {
  width: 26rem;
  height: 44.2rem;
  background: var(--greyLight-1);
  z-index: 1000;
  border-radius: 1rem;
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-2), inset -.2rem -.2rem .5rem var(--white);
  padding: 2rem;
  color: var(--greyDark);
  font-size: 1.5rem;
  overflow-y: scroll;
}

.help p {
  padding-bottom: 1rem;
}

.help h1 {
  color: var(--primary);
  font-size: 2rem;
  font-weight: 400;
}

/*  CHIP  */
.chip {
  justify-self: center;
  width: 24.5rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  display: flex;
  justify-content: start;
  align-items: center;
}
.chip__icon {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  margin: 0 0 0 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: var(--primary);
}
.chip p {
  font-size: 1.1rem;
  color: var(--greyDark);
}
/*  PLAY BUTTON  */
.circle {
  height: 100%;
  justify-self: center;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  margin: 10rem 0;
}
.circle input {
  display: none;
}
.circle label {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: var(--circle-size);
  height: var(--circle-size);
  display: flex;
  margin: 0.6rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 3.2rem;
  color: var(--primary);
  z-index: 300;
  background: var(--greyLight-1);
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  cursor: pointer;
  position: relative;
}
.circle label i {
  font-size: 10rem;
}
.circle input:checked ~ label {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}
.circle label i {
  position: absolute;
  opacity: 0;
  transition: all 0.2s linear;
}
.circle label i{
  opacity: 1;
}

.circle__back-1, .circle__back-2 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  filter: blur(1px);
  z-index: 100;
}
.circle__back-1 {
  animation-play-state: paused;
}
.circle input:checked ~ .circle__back-1 {
  box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2), -0.4rem -0.4rem 0.8rem var(--white);
  background: linear-gradient(to bottom right, var(--greyLight-2) 0%, var(--white) 100%);
  animation: waves 4s linear infinite;
}
.circle__back-2 {
  animation-play-state: paused;
}
.circle input:checked ~ .circle__back-2 {
  box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2), -0.4rem -0.4rem 0.8rem var(--white);
  animation: waves 4s linear 2s infinite;
}
/*  SEGMENTED-CONTROL */
.segmented-control {
  grid-column: 1;
  grid-row: 1;
  width: var(--width);
  height: 4rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}
.segmented-control input {
  display: none;
}
.segmented-control div > input:checked + label {
  transition: all 0.5s ease;
  color: var(--primary);
}
.tab-microphone, .tab-speaker {
  width: 12rem;
  height: 3.6rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--greyDark);
  transition: all 0.5s ease;
}
.tab-microphone:hover, .tab-speaker:hover {
  color: var(--primary);
}
.segmented-control__color {
  position: absolute;
  height: 3.4rem;
  width: 12rem;
  margin-left: 0.3rem;
  border-radius: 0.8rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  pointer-events: none;
}
.segmented-control__color.selected-microphone {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.segmented-control__color.selected-speaker {
  transform: translateX(12rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/*  ICONS  */
.icon {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  width: var(--width);
  padding: 0 2rem;
}
.icon__github {
  grid-column: 1 / 4;
}
.icon__twitter {
  grid-column: 2 / 4;
}
.icon__ph {
  grid-column: 3 / 4;
}
.icon__help {
  grid-column: 4 / 4;
}
.icon div {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  color: var(--greyDark);
  transition: all 0.5s ease;
}
.icon div:active, .icon .pressed {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--primary);
}
.icon div:hover {
  color: var(--primary);
}
@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}